<div class="container">
  <div class="row">
    <div class="col-12">
      {{#each articles}}
      <div class="card" style="width: 18rem;">
        <img src={{image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{summary}}</p>
         <button class="btn go_to_comments btn-primary view-comments" id="" data-id={{_id}}> Comments </button>
        </div>
      </div>

  {{/each}}
    </div>
  </div>
</div>